.logo {
  width: 80%;
  display: inline-block;

  >img {
    max-width: 100%;
    margin: 0 auto;
  }

  >.left-art, >.right-art {
    display: none;
  }


  @media screen and (min-width: $screen-sm-max) {
    position: relative;
    width: 600px;
    height: 250px;

    >.main-logo {
      z-index: 2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    >.left-art, >.right-art {
      z-index: 1;
      display: block;
      position: absolute;
    }

    >.left-art {
      left: -180px;
      top: -35px;
    }

    >.right-art {
      right: -195px;
      top: -80px;
    }
  }

}
