$icon-font-path: '../fonts/';

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../fonts/AvenirNextLTPro-MediumCn.eot');
	src: url('../fonts/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-MediumCn.woff2') format('woff2'),
		url('../fonts/AvenirNextLTPro-MediumCn.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-MediumCn.ttf') format('truetype'),
		url('../fonts/AvenirNextLTPro-MediumCn.svg#AvenirNextLTPro-MediumCn') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../fonts/AvenirNextLTPro-Regular.eot');
	src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
		url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
		url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../fonts/AvenirNextLTPro-Bold.eot');
	src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
		url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
		url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('../fonts/AvenirNextLTPro-Demi.eot');
	src: url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
		url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'),
		url('../fonts/AvenirNextLTPro-Demi.ttf') format('truetype'),
		url('../fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
	font-weight: 300;
	font-style: normal;
}
