$btn-torch-color: $color-white;
$btn-torch-bg: $color-torch-red;
$btn-torch-border: $color-torch-red;

.btn-torch {
  @include button-variant($btn-torch-color, $btn-torch-bg, $btn-torch-border);
  box-shadow: -1px 1px 10px 6px rgba($color-torch-red, .3)
}

.btn-big {
  font-size: 1.8em;
  padding: 8px 40px;
}
